.row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 900px;
  height: 300px;
}

.row > div {
  outline: 1px solid black;
}

.col-borders {
  width: 300px;
  height: 300px;
  font-size: 200px;
  text-align: center;
}

#play-again {
  margin: 20px;
  display: none;
}
