.row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 600px;
  height: 200px;
}

.row > div {
  outline: 1px solid black;
}

.col-borders {
  width: 200px;
  height: 200px;
  font-size: 133px;
  text-align: center;
}

#play-again {
  margin: 20px;
  display: none;
}

#winner {
  font-size: 70px;
  color: gold;
}
